@CHARSET "ISO-8859-1";

body {
	background-image: url('../img/bg.jpg');
	color: #000305;
	font-size: 87.5%; /* base font is 14 px */
	font-family: Arial;
	line-height: 1.5;
	text-align: left;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #CF5C3F;
}

a:hover, a:active {
	background-color: #CF5C3F;
	color: #FFF;
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainheader img {
	width: 30%;
	height: auto;
	margin: 2% 0;
}

.mainheader nav {
	background-color: #666;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainheader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainheader nav ul li {
	float: left;
	display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link,	.mainheader nav .active a:visited {
	background-color: #CF5C3F;
	text-shadow: none;
}

.mainheader nav ul li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.maincontent {
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.content {
	width: 70%;
	float: left;
}

.topcontent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}	
	
.bottomcontent {
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.top-sidebar {
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 2% 0 2% 3%;
	padding: 2% 3%;
}

.post-info {
	font-style: italic;
	color: #999;
	font-size: 87.5%;
}

.middle-sidebar {
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 0 2% 3%;
	padding: 2% 3%;
}

.bottom-sidebar {
	width: 21%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 0 2% 3%;
	padding: 2% 3%;
}

.mainfooter {
	width: 100%;
	height: 40px;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #666;
	margin 2% 0;
	margin-top: 2%;
}

.mainfooter p {
	width: 92%;
	margin: 2% auto;
	color: #FFF;
}
	
@media only screen and (min-width: 150px) and (max-width: 500px) {

	.body {
		width: 90%;
		font-size: 95%;
	}	
	
	.mainheader img {
		width: 90%;
	}	
	
	.mainheader nav {
		height: 160px;
	}
	
	.mainheader nav ul {
		padding-left: 0;
	}
	
	.mainheader nav ul li {
		width: 100%;
		text-align: center;
	}
	
	.mainheader nav a:link, .mainheader nav a:visited {
		padding: 10px 25px;
		height: 20px;
		display: block;
	}
	
	
	.content {
		width: 100%;
		float: left;
		margin-top: 2%;
	}
	
	.topcontent {
		margin-top: 3%;
		margin-bottom: 4%;
	}	
		
	.bottomcontent {
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
	}
	
	.post-info {
		display: none;
	}
	
	.top-sidebar, .middle-sidebar, .bottom-sidebar {
		width: 94%;
		margin: 2% 0 2% 0%;
		padding: 2% 3%;
	}
	
}
